@import url(https://www.google.com/fonts#UsePlace:use/Collection:Orbitron);

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  background-image: url("http://portfolio.kageetai.net/mario/ground.png"), url("http://portfolio.kageetai.net/mario/bushes.png"), url("http://portfolio.kageetai.net/mario/back.png");
  background-color: #F8E0B0;
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  -webkit-animation: back 15s infinite linear;
          animation: back 15s infinite linear;
}

#gameOver {
  width: 512px;
  height: 301px;
  margin: 0 auto;
  margin: top 50px;
  z-index: 98;
}/*Game Over sign board*/

.marioPerson {
    background-image: url("http://portfolio.kageetai.net/mario/mario.gif");
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: black;*/
    position: absolute;
    left: 30%;
    bottom: 27px;
    width: 32px;
    height: 60px;
    overflow: hidden;
    z-index: 99;
    /*background-color: grey;*/
    /*padding: 1px;*/
    /*margin: 1px;*/
    /*-webkit-animation: forward 15s infinite linear;
    animation: forward 15s infinite linear;*/


}

.marioGameEnd {
  background-image: url("imageedit_11_8233695130.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 7%;
  bottom: 27px;
  width: 32px;
  height: 60px;
  background-position: center 25px;
  margin-left: -3px;
  margin-bottom: -15px;
  display: none;


  /*z-index: 1;*/
}

/*@keyframes forward {
  0% {
    left: 30%;
    bottom: 27px;
  }
  50% {
    left: 50%;
    bottom: 27px;
  }
  100% {
    left: 30%;
    bottom: 27px;
  }
}

@-webkit-keyframes forward {
  0% {
    left: 30%;
    bottom: 27px;
  }
  50% {
    left: 50%;
    bottom: 27px;
  }
  100% {
    left: 30%;
    bottom: 27px;
  }
}*/

@-webkit-keyframes back {
  0% {
    background-position: left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}

@keyframes back {
  0% {
    background-position: left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}


/*creating the coin box*/

@import url(https://fonts.googleapis.com/css?family=Sacramento);

div.mario {
  position:absolute;
  left: 100vw;
  bottom:201px;
  -webkit-animation: coinBox 15s infinite linear;
          animation: coinBox 15s infinite linear;

}

@keyframes coinBox {
  0% {
    left: 100vw;
    bottom: 201px;
  }
  100% {
    left: -100px;
    bottom: 201px;
  }
}

div.mario span.coin{
  position:absolute;
  width:50px;
  text-align:center;
  margin-top:0px;
  opacity:0;
}

/*LOSE GAME CSS*/
div.marioPerson.lose {
  display: none;
}

div.marioPerson div.marioGameEnd {
  transition: opacity .3s ease-out;
}

div.marioPerson div.marioGameEnd.jump {
  display: block;
  -webkit-animation-name: endGame;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: endGame;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: linear;
  -ms-animation-name: endGame;
  -ms-animation-duration: 800ms;
  -ms-animation-timing-function: linear;
  animation-name: endGame;
  animation-duration: 800ms;
  animation-timing-function: linear;
}

@-moz-keyframes endGame {
    10% { opacity:0.7;}
    25% { opacity:1;}
    90% { opacity:0.7;}
}
@-webkit-keyframes endGame {
    10% { opacity:0.7;}
    25% { opacity:1;}
    90% { opacity:0.7;}
}
@keyframes endGame {
    10% { opacity:0.7;}
    25% { opacity:1;}
    90% { opacity:0.7;}

}
/*END OF LOSE GAME*/

div.mario div.box{
  position:relative;
  width:50px;
  height:50px;
  z-index:1;
  transition:margin-top .2s;
  cursor:pointer;
  background-image:url('imageedit_1_7355865117.png');
  background-position:0 0;
}

div.mario div.box.empty{
  background-image:url('imageedit_1_7355865117.png');
  background-position:50px 0;
  margin-top:0;
  cursor:not-allowed;
}

div.mario span.coin img{
  transition:opacity .3s ease-out;
}

div.mario span.coin.play{
  transition:all .5s ease-out;
  -webkit-animation-name: position;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: position;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: linear;
  -ms-animation-name: position;
  -ms-animation-duration: 800ms;
  -ms-animation-timing-function: linear;
  animation-name: position;
  animation-duration: 800ms;
  animation-timing-function: linear;
}

div.mario span.coin.play img{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    10% { width:30px;height:30px}
    45% { width:3px;height:60px}
    90% { width:30px;height:30px;}
}
@-webkit-keyframes spin {
     10% { width:30px;height:30px}
    45% { width:3px;height:60px}
    90% { width:30px;height:30px;}
}
@keyframes spin {
    10% { width:30px;height:30px}
    45% { width:3px;height:60px}
    90% { width:30px;height:30px;}
}

@-moz-keyframes position {
    10% { margin-top:-20px;opacity:0;}
    25% { margin-top:-100px;opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-160px;opacity:0;}
}
@-webkit-keyframes position {
    10% { margin-top:-20px;opacity:0;}
    25% { margin-top:-100px;opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-160px;opacity:0;}
}
@keyframes position {
    10% { margin-top:-20px;opacity:0;}
    25% { margin-top:-100px;opacity:1;}
    85% { margin-top:-130px;}
    90% { margin-top:-160px;opacity:0;}
}


/*GOOMBA*/
.goomba {
  display:none;
  position:absolute;
  width: 16px;
  height: 16px;
  left: 100vw;
  bottom: 32px;
  background-image: url("http://themushroomkingdom.net/images/ani/anigoomba.gif");
  -webkit-animation: goombaAttack 10s infinite linear;
          animation: goombaAttack 10s infinite linear;
}

/*#goomba2 {

  -webkit-animation: goombaAttack 16s infinite linear;
          animation: goombaAttack 16s infinite linear;
}*/



.koopa {
  position:absolute;
  width: 23px;
  height: 29px;
  left: 100vw;
  bottom: 32px;
  background-image: url("http://themushroomkingdom.net/images/ani/ani_4greenfly.gif");
  -webkit-animation: goombaAttack 8s infinite linear;
          animation: goombaAttack 8s infinite linear;
}

#koopa2 {
  display:none;
  background-image: url("http://themushroomkingdom.net/images/ani/ani_4redfly.gif");
  -webkit-animation: goombaAttack 13s infinite linear;
          animation: goombaAttack 13s infinite linear;
}

.plant {
  position:absolute;
  width: 21px;
  height: 24px;
  left: 100vw;
  bottom: 32px;
  background-image: url("http://themushroomkingdom.net/images/ani/ani_4plant.gif");
  -webkit-animation: goombaAttack 20s infinite linear;
          animation: goombaAttack 20s infinite linear;
}

.boom {
  display:none;
  position:absolute;
  width: 28px;
  height: 28px;
  left: 100vw;
  bottom: 50px;
  background-image: url("http://themushroomkingdom.net/images/ani/smb3/ani_smb3_boomboomfly.gif");
  -webkit-animation: boomAttack 5s infinite linear;
          animation: boomAttack 5s infinite linear;
}

.tunnel {
  z-index: -1;
  position:absolute;
  width: 50px;
  height: 60px;
  left: 100vw;
  bottom: 32px;
  background-image: url("tunnel.png");
  -webkit-animation: tunnel 30s infinite linear;
          animation: tunnel 30s infinite linear;
}

@keyframes goombaAttack {
  0% {
    left: 100vw;
    bottom: 32px;
  }
  100% {
    left: -23px;
    bottom: 32px;
  }
}

@keyframes boomAttack {
  0% {
    left: 100vw;
    bottom: 50px;
  }
  100% {
    left: -23px;
    bottom: 50px;
  }
}

@keyframes tunnel {
  0% {
    left: 100vw;
    bottom: 32px;
  }
  100% {
    left: -23px;
    bottom: 32px;
  }
}


.score {
  position:fixed;
  top:-10px;
  font:300 25px 'Orbitron', sans-serif;
  color:white;
  cursor:pointer;
  text-decoration:none;
}
}
